@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/FlappyBack.svg');
    background-size: cover;
    background-position: center;
}

.game-container {
    max-width: 36.25rem;
    width: 100%;
    text-align: center;
    position: relative;
}

.background-blur {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(0.625rem);
    padding: 1.25rem;
    border-radius: 0.625rem;
}

.game-logo {
    width: 100%;
    max-width: 18.75rem;
    margin-bottom: 1.25rem;
}

.ptrBtn {
    background-color: black;
    color: white;
    border-radius: 3.125rem;
    height: 3.75rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1875rem;
    text-decoration: none;
    margin: auto;
    margin-bottom: 1.875rem;
}

.game-description {
    font-size: 1rem;
    margin-bottom: 1.25rem;
}

.ptrs {
    margin-bottom: 1.25rem;
}

.title {
    font-size: 1.25rem;
    color: black;
    margin-bottom: 0.625rem;
}

.ptrImg {
    width: 100%;
    max-width: 18.75rem;
    margin-bottom: 0.625rem;
}
