@font-face {
    font-family: '04b_19';
    src: url('./assets/fonts/04B_19__.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: '04b_19', sans-serif;
}
canvas#myCanvas {
    background-image: url(../images/FlappyBack.svg);
    background-size: contain;
    height: 100%;
}
@media screen and (max-width: 800px) {
    body{
        height: 100%;
        background: #000;
    }
    canvas#myCanvas {
      width: 100%;
      height: auto;
    }
}
